<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        img {text-align: center;}
        a {button-align: center;}
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>

    <header>
        <h1>Lydias online shop</h1>
        <br>
        <br>
        <div class="container">
            <div class="vertical-center">
                <a href="/login"><button>Login</button></a>
                <a href="/register"><button>Register</button></a>
            </div>
        </div>
    </header>

    <main>
        <figure>
            <img src="bg-img.png" /> </img>
        </figure>
        <br>
        <p>
            This is a clothing store where you can find all kinds of products,
            from t-shirts to socks, through pants, skirts and coats. Everything is handmade in Spain,
            supporting sustainable development.
        </p>
    </main>
    <footer>
        <!-- Cosas del footer añadir poco a poco -->
    </footer>
</body>
</html>